

{;; Needed by `:ext/depstar` to work properly.
 ;;
 :paths

 []




 :aliases

 {;; EXTERNAL DEPENDENCIES
  

  :ext/bb.fs

  {:extra-deps  {babashka/fs {:mvn/version "0.0.5"}}
   :maestro/doc "Available in BB but must be imported for JVM"}


  :ext/depstar

  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
   :maestro/doc  "Packaging jars and uberjars"}


  :ext/kaocha
  {:extra-deps    {lambdaisland/kaocha {:mvn/version "1.0.861"}}
   :maestro/doc   "Testing framework"
   :maestro/test+ []}




  ;; GENERIC TASKS


  :task/deploy
  {:exec-args  {:installer :remote}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}


  :task/dev

  {:extra-paths     ["dev"]
   :maestro/doc     "Mandatory alias for development"
   :maestro/require [:task/no-main]}


  :task/install
  {:exec-args   {:installer :local}
   :exec-fn     deps-deploy.deps-deploy/deploy
   :extra-deps  {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :maestro/doc "Local install"}


  :task/jar

  {:exec-args       {:sync-pom true}
   :exec-fn         hf.depstar/jar
   :maestro/doc     "Setup for creating jar files"
   :maestro/require [:ext/depstar]}


  :task/no-main

  {:main-opts   []
   :maestro/doc "Remove any CLI argument provides by a previous alias"}


  :task/test

  {:extra-paths     ["project/test/src/clj/test"]
   :main-opts       ["-m"            "kaocha.runner"
                     "--config-file" "kaocha.edn"]
   :maestro/doc     "Mandatory alias for testing"
   :maestro/require [:ext/kaocha]}


  :task/uberjar

  {:exec-args       {:aot      true
                     :sync-pom true}
   :exec-fn         hf.depstar/uberjar
   :maestro/doc     "Setup for creating uberjar files"
   :maestro/require [:ext/depstar]}




  ;; PROJECTS


  :project/all

  {:maestro/doc     "Gathering all other projects"
   :maestro/require [:project/core
                     :project/depstar
                     :project/kaocha]}


  ;---

  :project/core

  {:extra-paths     ["project/core/src/main"]
   :maestro/doc     "Core Maestro utilities"
   :maestro/require [:ext/bb.fs]
   :maestro/root    "project/core"}


  :dev/core

  {:extra-paths ["project/core/src/dev"]
   :maestro/env {"FOO" "BAR"}}


  :release/core

  {:extra-deps {io.helins/maestro {:mvn/version "0.0.0-alpha0"}}}


  :test/core

  {:extra-paths ["project/core/src/test"]}

  ;---

  :project/depstar

  {:extra-paths     ["project/depstar/src/main"]
   :maestro/doc     "Provides tasks for jarring and uberjarring with Depstar"
   :maestro/require [:ext/depstar
                     {default :project/core
                      release :release/core}]
   :maestro/root    "project/depstar"}


  :dev/depstar

  {:extra-paths ["project/depstar/src/dev"]}

 
  :test/depstar

  {:extra-paths ["project/depstar/src/test"]}

  ;---

  :project/foo

  {:maestro/doc        "NOT A REAL PROJECT ; Used for tests"
   :maestro/main-class helins.maestro.foo
   :maestro/require    [:project/kaocha]
   :maestro/root       "project/foo"}


  :dev/foo

  {:extra-paths []}


  :test/foo

  {:extra-paths []}

  ;---

  :project/kaocha

  {:extra-paths     ["project/kaocha/src/main"]
   :maestro/doc     "Provides tasks for running tests with Kaocha"
   :maestro/require [:ext/kaocha
                     {default :project/core
                      release :release/core}]
   :maestro/root    "project/kaocha"}


  :dev/kaocha

  {:extra-paths ["project/kaocha/src/dev"]}

 
  :test/kaocha

  {:extra-paths ["project/kaocha/src/test"]}}}
